/* GLOBALE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header-container,
.spot-container,
.description-container,
.level-container,
.structure-container,
.discover-container,
.find-container,
.business-container,
.plan-container,
.faq-container,
.footer-container {
  width: 100%;
  height: 100%;
  padding: 0 10%;
}

.w-50 {
  width: 50%;
}

p {
  color: #808080;
}

/* HEADER */
header {
  height: 550px;
  background-color: #0C325A;
  overflow: hidden;
}
.header-container {
  min-width: 1400px;
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-repeat: no-repeat;
  background-position: 115% 100%;
}

.header-nav {
  height: 80px;
  line-height: 80px;
  overflow: hidden;
}

.float-left {
  float: left;
}

.header-logo {
  width: 15%;
}

.header-logo img {
  margin-top: 15px;
}

.header-nav-center {
  width: 45%; 
}

.header-nav-right {
  width: 40%;
  text-align: right;
}

/* MENU */
.menu-inline {
  list-style: none;
}

.menu-inline li {
  display: inline;
  padding: 0 10px;
}

.menu-inline li a {
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 80%;
}

/* BUTTONS */
.btn {
  display: inline-block;
  color: #FFFFFF;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn.btn-blue {
  padding-left: 30px;  
  padding-right: 30px;  
  border:1px solid #FFFFFF;
}

.btn.btn-green {
  background-color: #7CBB04;
}

.btn.btn-large {
  padding: 20px;
}

/* JUMBOTRON */
.jumbotron {
  position: relative;
  width: 100%;
  height: 470px;
}

.jumbotron-text {
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
}

.jumbotron-text h1 {
  color: #FFFFFF;
  font-size: 350%;
  margin-bottom: 30px;
}

/* SPOT */
.spot-container {
  position: relative;
  height: 140px;
  background-color: #D3D3D3;
  text-align: center;
}

.spot-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spot-text h2 {
  margin-bottom: 10px;
  height: 50%;
  vertical-align: bottom;
}

.spot-text p {
  height: 50%;
  vertical-align: top;
}

/* DESCRIPTION */
.description-container {
  position: relative;
  min-height: 430px;
}

.description-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #D3D3D3;
  width: 95%;
}

.description {
  height: 100%;
  width: calc(100% / 3);
  margin: 20px 0;
  text-align: center;
  padding: 10px 20px;
}

.description img {
  height: 150px;
  margin-bottom: 15px;
}

.description h2 {
  position: relative;
  min-height: 75px;
  color: #7CBB04;
  line-height: 130%;
  font-size: 120%;
  margin-bottom: 10px;
}

.description h2::after {
  content: '';
  background-color: #808080;
  height: 1px;
  width: 30%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.description p {
  font-size: 90%;
  line-height: 150%;
}

/* LEVEL */
.level-img, .level-text,
.discover-img, .discover-text {
  min-width: 50%;
  margin: 30px 0;
  padding: 0 50px;
}

.level-text h2,
.discover-text h2 {
  font-size: 1.75em;
  margin-bottom: 10px;
}

.level-text p,
.discover-text p {
  margin-bottom: 10px;
}

.level-text a {
  font-size: 0.8em;
}

/* FOOTER */
section .structure-container {
  height: 150px;
  line-height: 150px;
  background-color: #D3D3D3;
}

.structure-left {
  font-size: 1.1em;
}

.structure-right {
  float: right;
  text-align: right;
  color: #808080;
}

.structure-right span, 
.structure-right .selection,
.structure-right a {
  height: 100%;
  display: inline-block;
  margin-left: 30px;
}

.structure-right .selection {
  line-height: 20px;
  border-bottom: 1px solid #808080;
}

.structure-right .selection::after {
  padding-left: 80px;
  content: '\25BE';
}

/* DISCOVER */
.discover-container {
  position: relative;
  height: 400px;
  margin-top: 40px;
}

.discover-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background-color: #D3D3D3;
  width: 95%;
}

.discover-text .button-box {
  margin-top: 40px;
}

.discover-text .button-box p {
  text-align: center;
  color: #A6B8C7;
  line-height: 160%;
}

/* FIND */
.find-container {
  position: relative;
  height: 550px;
}

.find-container .find {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
}

.find-container .find h2 {
  margin: 20px 0;
}

.find-container .find span {
  color: #7CBB04;
}

.find-container .find p.small {
  font-size: 80%;
}

.find-container .find p {
  margin: 20px 0;
}

.find-container .find a {
  color: #A6B8C7;
}

/* BUSINESS */
.business-container {
  position: relative;
  height: 350px;
  background-color: #0C325A;
}

.business-container .business-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30%;
}

.business-container .business-text h2 {
  color: #FFFFFF;
}

.business-container .business-text p {
  margin: 30px 0;
}

/* PLAN */
.plan-container {
  height: 450px;
}

.plan-container h2.title {
  text-align: center;
  margin: 80px 0;
}

.plan-container .plan {
  width: calc(100% / 3 - 60px);
  min-height: 250px;
  position: relative;
  margin: 0 10px;
}

.plan-container .plan img {
  width: 50px;
  margin-bottom: 40px;
}

.plan-container .plan h2 {
  font-size: 100%;
  margin-bottom: 20px;
}

.plan-container .plan p {
  line-height: 140%;
}

.plan-container .plan::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 10px;
  width: 100%;
  margin-top: 40px;
}

.plan-container .plan.student::after {
  background-color: #95C9F6;
}

.plan-container .plan.worker::after {
  background-color: #FBA500;
}

.plan-container .plan.business::after {
  background-color: #80B805;
}

/* FAQ */
.faq-container {
  position: relative;
  height: 150px;
  background-color: #0C325A;
}

.faq-container .faq-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.faq-container .faq-text h2 {
  color: #FFFFFF;
  margin-bottom: 10px;
}

.faq-container .faq-text h2 span {
  color: #FBA500;
}

/* FOOTER */
footer {
  height: 320px;
  background-color: #16416B;
}

footer .footer-container {
  height: 100%;
  padding-top:50px;
  padding-bottom:50px;
}

footer ul h4 {
  margin-bottom: 15px;
}

footer h4 {
  color: #FFFFFF;
  margin-bottom: 30px;
}

footer li {
  list-style: none;
  margin: 10px 0;
}

footer li a {
  text-decoration: none;
  color: #808080;
  font-size: 80%;
}

footer .footer-credits {
  text-align: right;
}

.footer-credits .firm {
  text-transform: uppercase;
}

/* HELP */
footer .help {
  z-index: 999;
  position: fixed;
  bottom: 0;
  right: 200px;
  height: 40px;
  width: 50px;
  line-height: 40px;
  text-align: center;
  font-size: 80%;
  border-radius: 5px 5px 0 0;
  padding: 0;
}